target/

# python uv 测试环境
py-e2e-tests/.venv
**/__pycache__
py-e2e-tests/*.egg-info
py-e2e-tests/.pytest_cache
py-e2e-tests/uv.lock

# 本地配置文件
**/config.toml

# 运行时敏感文件
stats.json
logs/

# tmp文件
**/tmp.*
**/tmp_*
**/tmp

# Web (frontend)
web/node_modules
web/dist/
web/dist-ssr
*.local

# npm/yarn/pnpm logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 呃
.claude
.deepseek
